<!--KINGZWILL-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/website logo.jpg" rel="icon" type="images/png"/>
    <title>Planiture - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="header" class="sticky">
        <!--added sticky class to header... KINGZWILL-->
        <nav class="navbar navbar-expand-sm  navbar-fixed-top navbar-toggleable-sm navbar-light mb-3">
            <div class="container">
                <a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/css/website logo.jpg" alt="Company logo" width="100" height="100" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link text-dark dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
                                <ul class="dropdown-menu">
                                    
                                    <li><a asp-area="" asp-controller="Home" asp-action="Investments">Investments</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Subscriptions">Subscriptions</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="PlanitureAcademy">Planiture Academy</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="">Upload/Sign Documents</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="">Information Center</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="">Career</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="">Calculator</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="Security">Security</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="CustomerService">Customer Service</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Copyright &copy; 2020 - Planiture. All rights reserved - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
