@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="body">

    <form id="apply-form" method="post">
        <br />
        <h3>Application</h3>
        <p>
            Please complete the form below to start investing with us.
        </p>
        <br />
        <div class="tab-content" id="content1">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset>
                <legend>Personal Info.</legend>
                <label>Full Name</label>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        <input id="FirstNametxt" asp-for="Input.FirstName" class="form-control" required />
                        <label asp-for="Input.FirstName"></label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        <input id="LastNametxt" asp-for="Input.LastName" class="form-control" required />
                        <label asp-for="Input.LastName"></label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        <input asp-for="Input.DOB" type="date" id="DOBtxt" class="form-control" required />
                        <label asp-for="Input.DOB">DOB</label>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        <label asp-for="Input.Gender"></label>
                        <select id="Gendertxt" asp-for="Input.Gender" class="" required>
                            <option value="" selected hidden>Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                        </select>
                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        <input id="Occupationtxt" asp-for="Input.Occupation" class="form-control" required />
                        <label asp-for="Input.Occupation"></label>
                        <span asp-validation-for="Input.Occupation" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        <input id="Emailtxt" asp-for="Input.Email" class="form-control" placeholder="ex: name@mail.com" required />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <label>Phone Number</label>
                <div class="row">
                    <!--<div class="col-sm-6 col-md-6 form-group">
                        <input id="AreaCodetxt" asp-for="Input.AreaCode" class="form-control" placeholder="1(954)" required />
                        <label asp-for="Input.AreaCode">Area Code</label>
                    </div>-->
                    <div class="col-sm-6 col-md-6 form-group">
                        <input id="Mobiletxt" asp-for="Input.Mobile" class="form-control" placeholder="123-4567" required />
                        <label asp-for="Input.Mobile"></label>
                        <span asp-validation-for="Input.Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        <input id="Addresstxt" asp-for="Input.CusAddress" class="form-control" placeholder="Address" required />
                        <label asp-for="Input.CusAddress"></label>
                        <span asp-validation-for="Input.CusAddress" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        <input id="Residencytxt" asp-for="Input.Residency" class="form-control" placeholder="Residency" required />
                        <label asp-for="Input.Residency"></label>
                        <span asp-validation-for="Input.Residency" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Login Info.</legend>
                <div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Input.Username"></label>
                            <input id="Usernametxt" asp-for="Input.Username" class="form-control" required />
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input id="Passwordtxt" asp-for="Input.Password" class="form-control" required />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" required />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-group" align="center">
            <button id="cancelBtn" type="reset" class="btn btn-primary" onclick="location.href = '@Url.Page("/Account/Login", "Identity")';">CANCEL</button>
            <input type="submit" value="SAVE & CONTINUE" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .body {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        border: 3px solid #E89E63;
    }
    .btn {
        -webkit-appearance: none;
        border: 1px solid #E89E63;
        border-radius: 4px;
        outline: none;
        padding: 0.5em 0.8em;
        margin-right: 15px;
        color: black;
        font-size: 1em;
        font-family: sans-serif;
        font-weight: bold;
        cursor: pointer;
        align-content: center;
        background-color: #ffe8d7;
    }
    .btn:hover{
        background: gold;
    }
    .btn:active{
        background: goldenrod;
        color: black;
    }
</style>