@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="body">

    <form id="apply-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <br />
        <h3>Application</h3>
        <p>
            Please complete the form below to start investing with us.
        </p>
        <br />
        <div class="tab-content" id="content1">
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset>
                <legend>Personal Info.</legend>
                <label>Full Name</label>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        <input asp-for="Input.FirstName" class="form-control" />
                        <label asp-for="Input.FirstName"></label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        <input asp-for="Input.LastName" class="form-control" />
                        <label asp-for="Input.LastName"></label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        <input type="date" id="DOB" class="form-control" />
                        <label for="DOB">DOB</label>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        <label asp-for="Input.Gender"></label>
                        <select asp-for="Input.Gender" class="">
                            <option value=" " disabled>---Gender---</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        <input asp-for="Input.Occupation" class="form-control" />
                        <label asp-for="Input.Occupation"></label>
                        <span asp-validation-for="Input.Occupation" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="ex: name@mail.com" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <label>Phone Number</label>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        <input asp-for="Input.Prefix" class="form-control" placeholder="1(954)" />
                        <label asp-for="Input.Prefix">Area Code</label>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        <input asp-for="Input.Mobile" class="form-control" placeholder="123-4567" />
                        <label asp-for="Input.Mobile"></label>
                        <span asp-validation-for="Input.Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 form-group">
                        <textarea asp-for="Input.CusAddress" class="form-control" id="TextArea1.3" rows="4" cols="20"></textarea>
                        <label asp-for="Input.CusAddress">Area Code</label>
                        <span asp-validation-for="Input.CusAddress" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6 col-md-6 form-group">
                        <input asp-for="Input.Residency" class="form-control" />
                        <label asp-for="Input.Residency"></label>
                        <span asp-validation-for="Input.Residency" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Login Info.</legend>
                <div>
                    <div>
                        <div class="form-group">
                            <label asp-for="Input.UserName"></label>
                            <input asp-for="Input.UserName" class="form-control" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        
        <div class="nextpage" align="center">
            <button class="previous round" id="cancelBtn" onclick="">CANCEL</button>
            <button class="next round" type="submit" onclick="showNext();">SAVE & CONTINUE</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    const applyForm = document.getElementById("apply-form");


    applyForm.addEventListener("submit", (e) => {
        e.preventDefault();
        console.log("Form has been submitted!");

        
    });
</script>

<style>
    .body {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-color: whitesmoke;
        background-size: cover;
    }

    /*.tab-content {
        display: none;
    }
    .tab-content .active {
       display: block;
       display: initial;
    }*/
        

    .nextpage button {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        border-color: white;
    }

        .nextpage button.previous:hover {
            background-color: black;
            color: white;
        }

        .nextpage button.next:hover {
            background-color: gold;
            color: black;
        }

    .nextpage .previous {
        background-color: grey;
        color: black;
    }

    .nextpage .next {
        background-color: darkgoldenrod;
        color: white;
    }

    .nextpage .round {
        border-radius: 50%;
    }
</style>
