
@{
    ViewData["Title"] = "Career";
}




<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section id="career-background">
        <!--added image-->
        <div class="career-menu" id="care">
            <div class="container">
                <h1>@ViewData["Title"]</h1>
                <hr />
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                sdfdsfds
                                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                sdfdsfsdf
                                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                sdfdsfsd
                                <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</asp:Content>