
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="checkout-background">
        <!--added image-->
        <div class="checkout-menu" id="checkout">
            <div class="container">
                <br />
                <h1>Check Out</h1>
                
            </div>
        </div>

</section>

<style>
    .checkout-background {
        position: relative;
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        display: flex; /*changed from inline*/
        justify-content: center;
        align-items: center;
    }

    .checkout-menu {
        position: relative;
        padding: 100px;
        min-height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .checkout-menu h1 {
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 10px;
        color: darkgoldenrod;
        text-transform: uppercase;
        text-align: right;
    }

    .checkout-menu p {
        position: relative;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    .row .col-md-6 .thumbnail {
        border-radius: 4px;
        padding: 1px;
    }
</style>