
@{
    ViewData["Title"] = "CustomerService";
}


<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section class="customer-background">
        <!--added image-->
        <div class="customer-menu" id="custom">
            <div class="container">
                <h1>@ViewData["Title"]</h1>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <p>

                        </p>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <p>

                        </p>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <h5>CALL</h5>
                        <p>754-209-3657</p>

                        <br />
                        <br />

                        <h5>WHATSAPP CHAT</h5>
                        <p>754-209-3657</p>

                        <br />
                        <br />

                        <h5>EMAIL</h5>
                        <p>theplanituregroup@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</asp:Content>