
@{
    ViewData["Title"] = "CustomerService";
}


<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section class="customer-background">
        <!--added image-->
        <div class="customer-menu" id="custom">
            <div class="container">
                <h1>Customer Service</h1>

                <p class="header">
                    We do care about your concerns. If you have any questions or concerns, please use one 
                    of our methods below to communicate with us. You should have a response from a member 
                    of support within 24-72 hours.
                </p>
                <br />
                <br />
                <br />
                <div class="contain">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <h5>CALL</h5>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <h5>WHATSAPP CHAT</h5>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <h5>EMAIL</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <br />
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <br />
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <p>754-209-3657</p>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <p>754-209-3657</p>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <p><a href="mailto:theplanituregroup@gmail.com">theplanituregroup@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</asp:Content>