
@{
    ViewData["Title"] = "CustomerServiceJob";
}



<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section id="customerjob-background">
        <!--added image-->
        <div class="customerjob-menu" id="customer">
            <div class="container">
                <h1>Customer Service Job Offer</h1>

            </div>
        </div>

    </section>
</asp:Content>