@{
    ViewData["Title"] = "Home Page";
    //ViewData["Title"] = "Online Private Investment Company";
}


<body>

    <section class="banner" id="home">
        <h2><span>PLANI</span><b>TURE </b><br /><br />ONLINE<br /><br />INVESTMENT<br /><br />COMPANY</h2>
    </section>
</body>


<style>
    /* Banner
    -------------------------------------------------- */

    .banner { /*KINGZWILL ADDED THE FOLLOWING*/
        position: relative;
        width: 100%;
        min-height: 100vh;
        /*background-image: url(sky.jpg);*/
        background-size: cover;
        display: flex; /*changed from inline*/
        justify-content: center;
        align-items: center;
    }

    .banner h2 { /*ADDED BY KINGZWILL*/
        color: darkgoldenrod;
        text-align: center;
        line-height: 1em;
    }

    .banner h2 span {/*ADDED BY KINGZWILL*/
        color: gold;
    }

    .banner h2 b {/*ADDED BY KINGZWILL*/
        color: black;

    }
</style>