@{
    //ViewData["Title"] = "Home Page";
    ViewData["Title"] = "Online Private Investment Company";
}


<body>
    <section class="banner" id="home">
        <h2><span>PLANI</span><b>TURE </b><br /><br />ONLINE<br /><br />INVESTMENT<br /><br />COMPANY</h2>
    </section>
</body>
    