
@{
    ViewData["Title"] = "Information Center";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InformationCenter</title>
</head>
<body>
    <div class="info-background">
        <div class="info-menu">
            <h1>@ViewData["Title"]</h1>
            <br />
            <br />
            <div class="container">
                <div class="row" >
                    <div class="col-sm-4 col-md-4">
                        <h4>WEBSITE HELP</h4>
                        <hr />
                        <br />
                        <button class="accordion">How to apply?</button>
                        <div class="panel">
                            <p>
                                sdfdsfdsf sddddddddd ddddddddd dddddddf sdfsdfsdd
                                <br />ss df sdfs dfs dds fdsfd sfdsd sfsdfd sfsdf
                                <br />sdfd sfd efgfdg fdg efgfd fgdfg dfsd fsds ff
                                <br>dgfd efg df fdg df dfg df df fdg df fddf err.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <h4>INVESTMENT HELP</h4>
                        <hr />
                        <br />
                        <button class="accordion">How does my money work for me?</button>
                        <div class="panel">
                            <p>
                                dsfdsfds sdfdsfsd sdfsdfds sdfsd
                            </p>
                        </div>
                        <button class="accordion">What is a cashflip?</button>
                        <div class="panel">
                            <p>
                                dsfdsfds sdfdsfsd sdfsdfds sdfsd
                            </p>
                        </div>
                        <button class="accordion">How long does a cashflip investment takes?</button>
                        <div class="panel">
                            <p>
                                dsfdsfds sdfdsfsd sdfsdfds sdfsd
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <h4>OTHER HELPS</h4>
                        <hr />
                        <br />
                        <button class="accordion">File a report...</button>
                        <div class="panel">
                            <p>
                                dsfdsfds sdfdsfsd sdfsdfds sdfsd
                            </p>
                        </div>
                        <button class="accordion">Give Feedback...</button>
                        <div class="panel">
                            <p>
                                dsfdsfds sdfdsfsd sdfsdfds sdfsd
                            </p>
                        </div>
                        <button class="accordion">Contact us...</button>
                        <div class="panel">
                            <p>
                                sdfdsfds sdfsd  sdf ew ewr we
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
