
@{
    ViewData["Title"] = "Investments";
}


<asp:Content id="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <section class="invest-background">
        <div class="container">
            <div class="mx800p">
                <h2 class="text-center">@ViewData["Title"]</h2>
                <p>
                    PLANITURE currently offers clients the opportunity to
                    invest their money and have it earn for them.
                </p>
                <br />
                <h3>Investment Account</h3>
                <p>
                    Open an Investment Account with a minimum of $100.00.
                    Whenever a client opens an Investment Account, a Profits
                    Account is assigned to client for profit holds.
                </p>
                <br />
                <h3>Stock Portfolio</h3>
                <p>
                    Open a Stock Portfolio with a minimum of one stock purchase
                    from our recommended stock list.
                </p>
            </div>
        </div>

    </section>
</asp:Content>