
@{
    ViewData["Title"] = "MarketAnalyzerJob";
}



<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section id="marketjob-background">
        <!--added image-->
        <div class="marketjob-menu" id="market">
            <div class="container">
                <h1>Market Analyzer Job Offer</h1>

            </div>
        </div>

    </section>
</asp:Content>