
@{
    ViewData["Title"] = "Planiture Academy";
}


<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section id="academy-background">
        <!--added image-->
        <div class="academy-menu" id="academy">
            <div class="container">
                <h1>@ViewData["Title"]</h1>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h5>BASIC FOREX COURSE</h5>
                                <h7>COURSE 1 - (HISTORY)</h7>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_001<br />VID_004
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_002<br />VID_005
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_003
                                        </p>
                                    </div>
                                </div>
                                <h7>COURSE 2 - (TERMS + COMPETITORS)</h7>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_101<br />VID_104
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_102<br />VID_105
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_103<br />VID_106
                                        </p>
                                    </div>
                                </div>
                                <h7>COURSE 3 - ()</h7>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_200<br />VID_500
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_300<br />VID_600
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_400<br />VID_700
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h5>BASIC FOREX COURSE</h5>
                                <h7>COURSE 4 - (MARKET ANALYSIS)</h7>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_303<br />VID_606<br />VID_909
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_404<br />VID_707
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_505<br />VID_808
                                        </p>
                                    </div>
                                </div>
                                <h7>COURSE 5 - (BASIC STRATEGIES)</h7>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_111<br />VID_555<br />VID_1010
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_222<br />VID_777<br />1212
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <p>
                                            VID_333<br />VID_888<br />VID1111
                                        </p>
                                    </div>
                                </div>
                                <h7>COURSE 6 - (TEST YOUR KNOWLEDGE)</h7>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <p>
                                            <u><b>FINAL TEST</b></u>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
</asp:Content>