
@{
    ViewData["Title"] = "Policy";
}


<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section class="policy-background">
        <!--added image-->
        <div class="policy-menu" id="policy">
            <h1>@ViewData["Title"]</h1>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <p>

                    </p>
                </div>
                <div class="col-sm-6 col-md-6">
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </section>
</asp:Content>