
@{
    ViewData["Title"] = "Security";
}


<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section class="security-background">
        <!--added image-->
        <div class="security-menu" id="secure">
            <div class="container">
                <h1>@ViewData["Title"]</h1>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <p>
                            
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</asp:Content>