
@{
    ViewData["Title"] = "Shop";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
</head>
<body>
    <div class="shop-background" >
        <div class="shop-menu" id="shop">
            <h1>@ViewData["Title"]</h1>
            <br />
            <br />
            <div class="category">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="type">
                            <a href="#"><h2>C@SHFLIP</h2></a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="type">
                            <a href="#"><h2>PRIVATE<br />INVESTOR</h2></a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="type">
                            <a href="#"><h2>STOCKS</h2></a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h2>PLANITURE<br />BFXCLASS</h2>
                            <p>
                                $30.00 /class<br /> (Option to pay per class or to pay for a 6
                                week crash course)
                            </p>
                            <b><p>(COMING SOON)</p></b>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h2>PLANITURE<br />FXC_SIGNALS</h2>
                            <p>
                                $79.99 /monthly<br />
                                <br />
                                <br />
                                <br />
                            </p>
                            <a href="" class="btn">(Learn More...)</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h2>PLANITURE<br />BUNDLE</h2>
                            <p>
                                BFX + FXC<br /> $99.99 /monthly<br /> Having the opportunity
                                to earn as you learn
                            </p>
                            <a href="" class="btn">(Learn More...)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
