
@{
    ViewData["Title"] = "Subscriptions";
}

<asp:Content id="BodyContent" ContentPlaceHolderID="Main Content" runat="server">
    <section id="subscribe-background">
        <!--added image-->
        <div class="subscribe-menu" id="subscribe">
            <div class="container">
                <h1>@ViewData["Title"]</h1>

                <p>
                    Planiture offer the opportunity for new traders to make money
                    as they learn. We offer a signal group subscription, a course
                    subscription.
                </p>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h2>PLANITURE<br />SIGNALS</h2>
                                <p>
                                    $115.00 /monthly<br /> Get signals whiles the ForEx market
                                    is open (24/5)
                                </p>
                                <a href="" class="btn">(Learn More...)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h2>PLANITURE<br />ACADEMY</h2>
                                <p>
                                    $79.00 /monthly<br /> Having access to our basic ForEx courses
                                    to learn how to start trading.
                                </p>
                                <a href="" class="btn">(Learn More...)</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h2>PLANITURE<br />BUNDLE</h2>
                                <p>
                                    Signals + Academy<br /> $169.99 /monthly<br /> Having the opportunity
                                    to earn as you mearn
                                </p>
                                <a href="" class="btn">(Learn More...)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</asp:Content>